# Standard OCaml droppings
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

_build/

*.byte
*.native
*.docdir

# Oasis droppings
setup.data
setup.log

# Mirage droppings
/bin/tftpd
/bin/tftpd.xe
/bin/tftpd.xl
/bin/tftpd_libvirt.xml
/bin/mir-tftpd
/bin/log
/bin/Makefile
/bin/main.ml
/bin/static*.ml*

/log
/files

# OCaml/OPAM droppings
doc/**
!tftp.opam/**
/bin/tftpd.xl.in
